<!DOCTYPE html>
<html>
  <head>
    <title>List of All Tracks</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
<!-- Representing a list of Tracks -->
<div class="control" id="tracks">
    <div itemprop itemscope itemtype="http://schema.org/MusicRecording">
        <h1>List of All Tracks in The Collection</h1>
        <span itemprop="description">Below is an alphabetical list of all of the tracks in the CD collection.</span> 
 
   
        <% if (items.length > 0) { %>
        <ol class="tracks">
         <% items.forEach(function(item) { %>
         <li class="single-track"><span itemprop="name"><em><%=item.name%></em></span>
   
      
      <span itemprop="byArtist"><%=item.artist%></span></li>
      <% }); %>
    </ol>
    </div>
    <% } else { %>
    No tracks have been added to the CD collection.
    <% } %>
    
    <p>
     Go back <a href="/" rel="home">home</a>?<br />
     Check out the <a href="/cds/" rel="cds">CD Collection</a>?<br />
     Look at some <a href="/genres/" rel="genres">genres</a>?<br />
     Explore the <a href="/tracks/" rel="tracks">track collection</a>?
    </p>
    </div>
    </body>
    </html>
