<!DOCTYPE html>
<html>
  <head>
    <title>CD Collection: Home</title>
  </head>
  <body>
 <div class="control" id="home" itemprop="cdcollection" itemscope itemtype="http://schema.org/MusicRecording">
    <a href="/" rel="home"><h1>CD Collection: Home</h1></a>
    <span itemprop="description">This is the homepage of "CD Collection," a web app that allows you to store the information from your physical CDs
    into a digital environment. <br /> Check out the <a href="https://github.com/odorsey/final_CDCollection/blob/master/README" target="_blank">
    ReadMe</a> page for more information!</span>
    <div>
      <a href="/cds/" rel="cds"><h2>List of CDs</h2></a>
    <div>
    <div>
      <a href="/genres/" rel="genres"><h2>List of Genres</h2></a>
    <div>
    <div>
    <a href="/tracks/" rel="tracks"><h2>List of All Tracks</h2></a>
    <div> 
    <a href="https://github.com/odorsey/final_CDCollection" rel="github" target="_blank"><h2>Go to my GitHub?</h2></a>
    </body>
</html>
