<!DOCTYPE html>
<html>
  <head>
    <title>CD Collection: Home</title>
  </head>
  <body>
 <div class="control" itemprop="cdcollection" itemscope itemtype="http://schema.org/MusicRecording">
    <a href="/"><h1>CD Collection: Home</h1></a>
    <span itemprop="description">This is the homepage of "CD Collection," a web app that allows you to store the information from your physical CDs
    into a digital environment. <br /> Check out the ReadMe page for more information!</span>
    <div>
      <a href="/cds/"><h2>List of CDs</h2></a>
    <div>
    <div>
      <a href="/genres/"><h2>List of Genres</h2></a>
    <div>
    <div>
    <a href="/tracks/"><h2>List of All Tracks</h2></a>
    <div> 
    </body>
</html>
